body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
Body {
  display: flex;
  flex-direction: column; 
  grid-column-start: 2;
   grid-column-end: 3; 
   grid-row-start: 2; 
   grid-row-end: 3; 
   justify-content: flex-start; 
   align-items: flex-start;
   overflow: auto;
  gap: 5%;
  border: 2px solid blue;
}

.MainDiv{
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows:2fr 8fr;
  height: 100vh;
  width: 100%;
  border: 2px solid black;
  }
  .Header{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 2px solid red;
  }
  .LeftBar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 2px solid red;
  
  }
  

.name {
  font-size: 2em;
  color: #282c34;
  display: flex;
  flex: 1;
  margin: 10px 20px 0;
}
.Record {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81e3ec75;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
